<% provide(:title, "Log in") %>
<h1>Log in</h1>

<div class="row">
    <div class="col-md-6 col-md-offset-3">
        <%= form_with(url: login_path, scope: :session, local: true) do |f| %>
        
            <%= f.label :email %>
            <%= f.email_field :email, class: 'form-control' %>
        
            <%= f.label :password %>
            <%= f.password_field :password, class: 'form-control' %>
        
            <%= f.submit "Login", class: "btn btn-primary" %>
        <% end %>

        <%= link_to "Registar-me", signup_path %>
        <%= link_to "Esqueci-me da password...", '#' %>
    </div>
</div>