<% provide(:title, 'Alterar Password') %>
<h1>Alterar Password</h1>

<div class="row">
    <div class="col-md-6 col-md-offset-3">
        <%= form_with(model: current_user, local: true) do |f| %>
                    
            <%= hidden_field_tag :email, current_user.email %>

            <%= f.label :password_current, "Password Atual" %>
            <%= f.password_field :password_current, class: 'form-control' %>

            <%= f.label :password %>
            <%= f.password_field :password, class: 'form-control' %>

            <%= f.label :password_confirmation, "Confirmação Password" %>
            <%= f.password_field :password_confirmation, class: 'form-control' %>
            
            <%= f.submit "Ok", class: "btn btn-primary", method: :patch %>
            <%= link_to "Cancelar", current_user, class: "btn btn-primary" %>
        <% end %>
    </div>
</div>