<% provide(:title, 'Sign up') %>
<h1>Sign up</h1>

<div class="row">
    <div class="col-md-6 col-md-offset-3">
        <%= form_with(model: @user, local: true) do |f| %>
            <%= f.label :email %>
            <%= f.email_field :email %>

            <%= f.label :password %>
            <%= f.password_field :password %>

            <%= f.label :password_confirmation, "Confirmação da Password" %>
            <%= f.password_field :password_confirmation %>

            <%= f.label :name, "Nome" %>
            <%= f.text_field :name %>

            <%= f.label :photo, "Foto" %>
            <%= f.file_field :photo %>

            <%= f.label :address, "Morada" %>
            <%= f.text_field :address %>

            <%= f.label :postal_code, "Código Postal" %>
            <%= f.text_field :postal_code %>

            <%= f.label :locality, "Localidade" %>
            <%= f.text_field :locality %>

            <%= f.label :contacts, "Contactos" %>
            <%= f.text_field :contacts %>

            <%= f.label :page, "Página Pessoal" %>
            <%= f.text_field :page %>

            <%= f.label :presentation, "Apresentação" %>
            <%= f.text_area :presentation, class:"tinymce" %>

            <%= f.submit "Registar", class: "btn btn-primary" %>
        <% end %>
    </div>
</div>