<div class="row">
  <aside>
    <section>
      <h3>
        Notícias
      </h3>
    </section>
  </aside>
</div>

<div class="row">
  <aside >
    <%= form_for backoffice_news_path, method:'get' do |f| %>
        <div class="col-md-3">
          <%= text_field_tag :title, params[:title], placeholder: 'Pesquisa',class:'form-control' %>
        </div>
    <% end %>
  </aside>
</div>
<div class="row table-responsive">
  <table class="table table-striped ">
    <tr>
      <th >Nome</th>
      <th >Data</th>
      <th >Destaque</th>
      <th >Activo</th>
      <th >Ações</th>
    </tr>
    <% @news.each do |news| %>
        <tr>
          <td><%= news.title %></td>
          <td ><%= news.noticiadate %></td>
          <% if news.spotlight %>
            <td >Sim</td>
          <% else %>
            <td>Não</td>
          <% end %>
          <% if news.active %>
            <td >Sim</td>
          <% else %>
            <td>Não</td>
          <% end %>
          <td ><%= link_to "Detalhe", backoffice_show_news_path(news), class: 'btn btn-info' %>
            <%= link_to "Editar", backoffice_edit_news_path(news) , class: 'btn btn-warning' %>
            <% if admin_user?(current_user) %>
                <%= link_to "Apagar", news, method: :delete,
                            data: { confirm: "Tem a certeza que pretende eliminar esta notícia?" }, class: 'btn btn-danger' %>
            <% end %>
          </td>
        </tr>
    <% end %>

  </table>
</div>
<div class="row">
  <aside>
    <section>
      <%= link_to "Inserir", new_news_path, class: 'btn btn-default' %>
    </section>
  </aside>
</div>
<div class="row">
  <%= will_paginate @news %>
</div>