<div class="row">
  <aside >
    <section>
      <h3>Utilizadores</h3>
    </section>
  </aside>
</div>

<div class="row">
    <%= form_for backoffice_users_path,  method: 'get' do |f| %>
        <div class="col-md-3">
          <%= text_field_tag :search, params[:search], placeholder: 'Pesquisa',class:'form-control' %>
        </div>
        <div class="col-md-3">
          <%= select_tag(:type, options_for_select([['Backoffice','Backoffice'],['Candidato','Candidato'],['Entidade','Entidade']], params[:type]),{ include_blank: 'Tipo...', :onChange => "javascript: this.form.submit();",class:'form-control'})  %>
        </div>
    <% end %>
</div>
<div id="users" class="row table-responsive">
    <table class="table table-striped">
      <tr>
        <th >Nome</th>
        <th>Tipo</th>
        <th >Ações</th>
      </tr>
      <% @users.each do |user| %>
          <tr>
            <td class="col-md-3"><%= user.name %></td>
            <td class="col-md-3"><%= user.type %></td>
            <td class="col-md-3"><%= link_to "Detalhe", backoffice_show_users_path(user), class: 'btn btn-info' %>
              <%= link_to "Editar", backoffice_edit_users_path(user), class: 'btn btn-warning' %>
              <% if admin_user?(current_user) %>
                  <%= link_to "Apagar", user, method: :delete,
                              data: { confirm: "Tem a certeza que pretende eliminar este utilizador?" }, class: 'btn btn-danger' %>
              <% end %>
            </td>
          </tr>
      <% end %>
    </table>
</div>

<div class="row">
  <aside >
    <section>
      <%= link_to "Inserir", new_backoffice_path, class: 'btn btn-default' %>
    </section>
  </aside>
</div>

<div class="row">
  <aside>
    <section>
      <%= will_paginate @users %>
    </section>
  </aside>

</div>