<% provide(:title, 'Inserir/Editar') %>
<% provide(:data, params[:data]) %>
<div class="row">
  <aside class="col-md-4">
    <h3>Inserir/Editar</h3>
  </aside>
</div>
<div class="row">
  <div class="col-md-12 ">
    <%= simple_form_for @user, url: backoffice_edit_user_password_path do |f| %>
    <div class="row">
      <div class="col-md-6 ">
        <%= f.label :name, "Nome" %>
        <p> <%= @user.name %></p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 ">
        <%= f.input :password, label: "Password", hint:"Minímo de 6 carácteres" %>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 ">
        <%= f.input :password_confirmation, label: "Confirmação da Password" %>
      </div>
    </div>
    <div class="row">
      <div class="col-md-2">
        <%= f.button :submit, class: "btn btn-primary" %>
      </div>
      <div class="col-md-2">
        <%= link_to "Cancelar", backoffice_users_path, class: "btn btn-default" %>
      </div>
    </div>
<% end %>
  </div>
</div>