<% provide(:title, 'Inserir/Editar') %>
<% provide(:data, params[:data]) %>
<% provide(:backoffice, true) %>

<div class="row">
  <aside class="col-md-4">
    <h3>Inserir/Editar</h3>
  </aside>
</div>
<div class="row">
  <div class="col-md-12 ">
    <%= simple_form_for @user, url: backoffice_edit_users_path do |f| %>
        <div>
      <div id="new_info">
        <div class="row">
          <div class="col-md-6 ">
            <%= f.input :name,label: "Nome" %>
          </div>
          <div class="col-md-6">
            <%= f.label :entitie, "Tipo" %>
            <% if @user.type=="Entidade" %>
                <%= f.hidden_field :entitie, value: @user.type %>
            <% else %>
                <%= f.hidden_field :entitie, value: 0 %>
            <% end %>
            <p><%= @user.type %></p>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <%= f.input :email, label: "Email" ,placeholder: 'Example: example@example.com' %>
          </div>
          <% if @user.password_digest.nil? %>
              <%= f.hidden_field :password, value: '123456 ' %>
              <%= f.hidden_field :password_confirmation, value: '123456 ' %>
          <% end %>
          <%= f.hidden_field :backoffice, value: true %>
        </div>
        <div class="row">
          <div class="col-md-2">
            <%= f.button :submit, class: "btn btn-primary" %>
          </div>
          <div class="col-md-2">
            <%= link_to "Cancelar", backoffice_users_path, class: "btn btn-default" %>
          </div>
        </div>
      </div>
    </div>
  <% end %>
  </div>
</div>