<% provide(:title, 'Inserir/Editar') %>
<% provide(:data, params[:data]) %>
<div class="row">
  <aside class="col-md-4">
    <h3>Inserir/Editar</h3>
  </aside>
</div>
<div class="row">
  <div class="col-md-12 ">
    <%= render 'edit' %>
  </div>
</div>