<div class="row">
  <aside class="col-md-4">
    <section>
      <h3>Detalhe do Utilizador</h3>
    </section>
  </aside>
</div>
<div class="row">
  <aside class="col-md-6">
    <section>
      <p><strong>Nome</strong></p>
      <p><%= @user.name %></p>
    </section>
  </aside>
  <aside class="col-md-6">
    <section>
      <p><strong>Tipo</strong></p>
      <p><%= @user.type %></p>
    </section>
  </aside>
</div>

<div class="row">
  <aside class="col-md-6">
    <section>
      <p><strong>Email</strong></p>
      <p><%= @user.email %></p>
    </section>
  </aside>
</div>
<div class="row">
  <%= link_to "Editar", backoffice_edit_users_path(@user),class: 'btn btn-default' %>
  <%= link_to "Alterar Password", backoffice_edit_user_password_path(@user),class: 'btn btn-default' %>
  <% if current_user.admin? %>
      <%= link_to "Apagar", @user, method: :delete,
                  data: { confirm: "Tem a certeza que pretende eliminar este utilizador?" }, class: 'btn btn-danger' %>
  <% end %>
  <%= link_to "Inserir", new_backoffice_url,class: 'btn btn-default' %>
  <%= link_to "Listagem", backoffice_users_path ,class: 'btn btn-default' %>
</div>