<aside class="col-md-12">
  <section>
    <div class="col-md-3">
        <%= image_tag news.display_image_mini if news.image.attached? %>
    </div>
    <div class="col-md-9">
        <ul>
            <li><%= link_to news.title, news %></li>
            <li><%= news.noticiadate %></li>
            <li><%= raw news.summary.first(70) %></li>
        </ul>
    </div>
  </section>
</aside>