<% provide(:title, 'Nova Notícia') %>
<h3>Nova Notícia</h3>

<div class="row">
    <div class="col-md-12">
        <%= form_with(model: @news, local: true) do |f| %>

            <div class="row">
                <div class="col-md-6">
                    <%= f.label :title, "Título" %>
                    <%= f.text_field :title, class: 'form-control' %>
                </div>

                <div class="col-md-6">
                    <%= f.label :noticiadate, "Data" %>
                    <%= f.date_field :noticiadate, class: 'form-control' %>
                </div>
            </div>

            <%= f.label :summary, "Sumário" %>
            <%= f.text_area :summary, class: 'form-control' %>

            <%= f.label :text, "Texto" %>
            <%= f.text_area :text, class: 'form-control' %>

            <div class="row col-md-3">
                <%= f.label :image, "Foto" %>
                <%= f.file_field :image, class: 'form-control' %>
            </div>

            <div class="row">
                <div class="col-md-3">
                    <%= f.label :spotlight, "Destaque" %>
                    <%= f.check_box :spotlight, class: 'form-control' %>
                </div>

                <div class="col-md-3">
                    <%= f.label :active, "Activo" %>
                    <%= f.check_box :active, class: 'form-control' %>
                </div>
            </div>

            <%= f.submit "Registar", class: "btn btn-primary" %>
        <% end %>
    </div>
</div>