<% provide(:title, @news_some.title) %>

<div class="row">
  <aside class="col-md-4">
    <h3><%= @news_some.title %></h3>
    <p><%= @news_some.created_at.strftime("%d-%m-%Y") %> a <%= @news_some.noticiadate %></p>
  </aside>
</div>

<div class="row">
  <div class="col-md-7">
    <p><%= raw @news_some.text %></p>
  </div>
  <div class="col-md-5">
    <%= image_tag @news_some.display_image if @news_some.image.attached? %>
  </div>
</div>
<div class="row">
  <%= link_to "Ver todas", news_index_url %>
</div>