<div class="container">
    <div class="row">
        <div class="col-md-6">
            <h2>Últimas Ofertas</h2>
            <%= render @offers %>
            <%= link_to "Ver todas as ofertas", offers_path %>
        </div>
        <div class="col-md-6">
            <h2>Notícias</h2>
            <%= render @news %>
            <%= link_to "Ver todas as notícias", news_path %>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <h2>Últimas Empresas</h2>
            <%= render @entidades %>
            <%= link_to "Ver todas as empresas", entidades_path %>
        </div>

        <div class="col-md-6">
            <h2>Últimos Candidatos</h2>
            <%= render @candidatos %>
            <%= link_to "Ver todos os candidatos", candidatos_path %>
        </div>
    </div>
</div>