<div class="center jumbotron">
    <h2>Novo Registo</h1>
<br/>
    <div class="center row">
        <%= link_to "Sou uma entidade", signupentidade_path, class: "btn btn-lg btn-primary" %>
    </div>
<br/>
    <div class="center row">
        <%= link_to "Sou um candidato", signupcandidato_path, class: "btn btn-lg btn-primary" %>
    </div>
</div>