<%= form_for(current_user.active_candidaturas.build, remote: true) do |f| %>
    <div><%= hidden_field_tag :oferta_id, @offer.id %></div>
    <%= f.submit "Candidatar-me", class: "btn btn-default" %>
<% end %>