<aside class="col-md-12">
  <section>
    <div class="col-md-4">
        <%= image_tag offer.display_image_mini if offer.image.attached? %>
    </div>
    <div class="col-md-8">
        <%= link_to offer.title, offer %><br/>
        <%= offer.validefrom %> a <%= offer.valideto %><br/>
        <%= link_to offer.entidade.name %><br/>
        <%= raw offer.description %><br/>
        <% @offer = offer %>
        <% if !current_user.nil? %>
            <% if current_user.type.downcase=="candidato" && !current_user.id!=offer.entidade.id %>
                <% if current_user.offerings?(@offer) %>
                    <%= render 'offers/unfollow' %>
                <% else %>
                    <%= render 'offers/follow' %>
                <% end %>
            <% end %>
            <% if current_user.id == offer.entidade.id || current_user.admin %>
                <%= link_to "Editar", edit_offer_path(offer), class: "btn btn-default" %>
            <% end %>
        <% end %>
        
    </div>
  </section>
</aside>