<%= form_for(current_user.active_candidaturas.find_by(oferta_id: @offer.id), 
    html: { method: :delete }, local: true) do |f| %>
    <%= f.submit "Retirar Candidatura", class: "btn btn-default" %>
<% end %>