<% provide(:title, 'Nova Oferta') %>
<h3>Nova Oferta</h3>

<div class="row">
    <div class="col-md-12">
        <%= simple_form_for @offer, html: { multipart: true} do |f| %>
            <div class="row">
                <div class="col-md-6">
                    <%= f.label :title, "Título" %>
                    <%= f.text_field :title, class: 'form-control' %>
                </div>

                <div class="col-md-2">
                    <%= f.label :validefrom, "Validade" %>
                    <%= f.date_field :validefrom, class: 'form-control' %>
                </div>
                
                <div class="col-md-2">
                    <%= f.date_field :valideto, class: 'form-control' %>
                </div>
            </div>

            <%= f.label :description, "Descrição" %>
            <%= f.text_area :description, class: 'form-control' %>

            <div class="row"><div class="col-md-3"><span class="image">
                <%= f.label :image, "Foto" %>
                <%= f.file_field :image, class: 'form-control', accept: "image/jpeg,image/gif,image/png" %>
            </div></div>

            <div class="row"><div class="col-md-3">
                <%= f.label :entity, "Empresa" %>
                <br/>
                <%= link_to current_user.name, current_user %>
            </span></div></div>

            <div class="row"><div class="col-md-3">
                <%= f.label :professionalactivity, "Atividade Profissional" %>
                <%= f.select :professionalactivity, (["Informática", "Design", "Engenharia Civil"]), class: 'form-control' %>
            </div></div>

            <div class="row">
                <div class="col-md-3">
                    <%= f.label :contracttype, "Tipo de Contrato" %>
                    <%= f.select :contracttype, (["Full-time", "Part-time"]), class: 'form-control' %>
                </div>
                
                <div class="col-md-3 col-md-offset-5">
                <%= f.label :salary, "Salário" %>
                <%= f.select :salary, (["1000-1500", "1500-2000"]), class: 'form-control' %>
                </div>
            </div>

            <%= f.label :active, "Activo" %>
            <%= f.check_box :active, inline_label: 'Activo', class: 'form-control' %>

            <%= f.submit "Ok", class: "btn btn-primary" %>
            <%= link_to "Cancelar", current_user, class: "btn btn-primary" %>
        <% end %>
    </div>
</div>