<% provide(:title, @offer.title) %>

    <div class="row">
        <aside class="col-md-2">
            <section class="user_info">
                <h1><%= @offer.title %></h1>
            </section>
        </aside>
    </div>

    <div class="row">
        <div class="col-md-2">
            <%= image_tag @offer.display_image if @offer.image.attached? %>

            <% if !current_user.nil? && current_user.type.downcase=="candidato" %>
                <% if current_user.offerings?(@offer) %>
                    <%= render 'offers/unfollow' %>
                <% else %>
                    <%= render 'offers/follow' %>
                <% end %>
            <% else %>
                <%= link_to "Editar", edit_offer_path, class: "btn btn-default" %>
            <% end %>
        </div>

        <div class="col-md-8 col-md-offset-2">

            <%= raw @offer.description %>
            
            <p><%= @offer.validefrom %> a <%= @offer.valideto %></p>

            <h4>Empresa</h4>
            <% @entidade = Entidade.find(@offer.entidade_id) %>
            <%= link_to @entidade.name, @entidade %>

            <h4>Atividade Profissional</h4>
            <%= @offer.professionalactivity %> 

            <h4>Tipo de Contrato</h4>
            <%= @offer.contracttype %> 

            <h4>Salário</h4>
            <%= @offer.salary %> 

        </div>
    </div>

<% @entidade = Entidade.find(@offer.entidade_id) %>
<% if current_user?(@entidade) %>

    <div class="row">
        
        <h3>Candidatos</h3>

        <% if @offer_cand.any? %>    
            <%= render @offer_cand %>
        <% end %>

    </div>

<% else %>

    <div class="row">
        <h3>Outras ofertas na mesma área</h3>
        <%= render @outras_ofertas %>
    </div>
<% end %>