<li>
    <%= gravatar_for entidade, size: 80 %>
    <% @entidade = entidade %>
    <ul>
        <li><%= link_to @entidade.name, @entidade %></li>
    
        <li><%= raw @entidade.presentation %></li>
    </ul>
    <% if !current_user.nil? %>
        <% if current_user.type %>
            <% if current_user.type.downcase=="candidato" %>
                <% if current_user.following?(@entidade) %>
                    <%= render 'entidades/unfollow' %>
                <% else %>
                    <%= render 'entidades/follow' %>
                <% end %>
            <% end %>
        <% elsif current_user.id==@entidade.id || current_user.admin %>
            <%= link_to "Editar", edit_entidade_path(@entidade), class: "btn btn-default" %>
        <% end %>
    <% end %>
</li>