<%= form_for(current_user.active_relationships.build, remote: true) do |f| %>
    <div><%= hidden_field_tag :followed_id, @entidade.id %></div>
    <%= f.submit "Interessado/a", class: "btn btn-default" %>
<% end %>