<% provide(:title, 'Editar Entidade') %>
<h3>Editar Entidade</h3>

<div class="row">
    <div class="col-md-12">
        <%= form_with(model: @entidade, local: true) do |f| %>

            <div class="row">
                <div class="col-md-5">
                    <%= f.label :email %>
                    <%= f.email_field :email, class: 'form-control' %>
                </div>
            </div>

            <div class="row">
                <div class="col-md-5">
                    <%= f.label :name, "Nome" %>
                    <%= f.text_field :name, class: 'form-control' %>
                </div>
                
                <div class="col-md-3 col-md-offset-2">
                    <%= f.label :photo, "Foto" %>
                    <%= f.file_field :photo, class: 'form-control' %>
                </div>
            </div>

            <div class="row col-md-12">
                <%= f.label :address, "Morada" %>
                <%= f.text_area :address, class: 'form-control' %>
            </div>

            <div class="row">
                <div class="col-md-2">
                    <%= f.label :postal_code, "Código Postal" %>
                    <%= f.text_field :postal_code, class: 'form-control' %>
                </div>
                
                <div class="col-md-2 col-md-offset-5">
                    <%= f.label :locality, "Localidade" %>
                    <%= f.text_field :locality, class: 'form-control' %>
                </div>
            </div>

            <%= f.label :contacts, "Contactos" %>
            <%= f.text_field :contacts, class: 'form-control' %>

            <%= f.label :page, "Página" %>
            <%= f.text_field :page, class: 'form-control' %>

            <%= f.label :nif, "NIF" %>
            <%= f.text_field :nif, class: 'form-control' %>

            <%= f.label :professionalactivity, "Atividade Profissional" %>
            <%= f.select :professionalactivity, (["Informática", "Design"]), class: 'form-control' %>

            <%= f.label :presentation, "Apresentação" %>
            <%= f.text_area :presentation, class: 'form-control' %>

            <%= f.submit "Ok", class: "btn btn-primary" %>
            <%= link_to "Cancelar", current_user, class: "btn btn-primary" %>
        <% end %>
    </div>
</div>