<% provide(:title, "Entidades") %>
<h2>Entidades</h2>

<div class="row">
  <aside>
    <%= form_for entidades_path, method: 'get' do %>
        <div class="col-md-3">
          <%= text_field_tag :search, params[:search], placeholder: 'Pesquisa', class: 'form-control' %>
        </div>
        <div class="col-md-3">
          <% field_array = Entidade.all.distinct.pluck(:professionalactivity) %>
          <%= select_tag(:professionalactivity , options_for_select(field_array,params[:professionalactivity]),{include_blank: 'Área de actividade...', :onChange => "javascript: this.form.submit();", class: 'form-control'}) %>
        </div>
        <div class="col-md-3">
          <% field_array = Entidade.all.distinct.pluck(:locality) %>
          <%= select_tag(:locality, options_for_select(field_array, params[:locality]),{include_blank: 'Concelho...', :onChange => "javascript: this.form.submit();", class: 'form-control'}) %>
        </div>
    <% end %>
  </aside>
</div>

<ul class="users">
    <%= render @entidades %>
</ul>

<%= will_paginate @entidades %>