<% provide(:title, @entidade.name) %>

<% if current_user?(@entidade) %>

    <div class="row">
        <div class="col-md-7">
            <h3>Ofertas</h3>
            <% if @entidade.offers.any? %>
                <ol>
                    <%= render @offers %>
                </ol>
                <%= will_paginate @offers %>
            <% end %>
            <%= link_to "Inserir Oferta", new_offer_path, class: "btn btn-default" %>
        </div>
        <div class="col-md-5">
            <h3>Entidade<h3>
            <%= link_to "Editar Dados", edit_entidade_path, class: "btn btn-lg btn-primary" %>
            <%= link_to "Alterar Password", edit_password_path, class: "btn btn-lg btn-primary" %>
        </div>
    </div>
    <div class="row">
        <div class="col-md-7">
            <h3>Histórico</h3>
        </div>
        <div class="col-md-5">
            <h3>Candidatos interessados</h3>
            <% if @followers.any? %>
                <%= render @followers %>
            <% else %>
                <p>Ainda não tem candidatos interessados na sua empresa.</p>
            <% end %>
        </div>
    </div>


<% else %>
    <div class="row">
        <aside class="col-md-2">
            <section class="user_info">
                <h1><%= @entidade.name %></h1>
            </section>
        </aside>
    </div>

    <div class="row">
        <div class="col-md-2">
            <%= gravatar_for @entidade, size: 160 %>
            <section>
                <% if current_user.type %>
                    <% if logged_in? && !current_user?(@entidade) && current_user.type.downcase == 'candidato' %>
                        <% if current_user.following?(@entidade)  %>
                            <%= render 'entidades/unfollow' %>
                        <% else %>
                            <%= render 'entidades/follow' %>
                        <% end %>
                    <% end %>
                <% end %>
                <% if current_user %>
                    <% if current_user?(@entidade) || current_user.admin %>
                        <%= link_to "Editar", edit_user_path(@entidade), class: 'btn btn-default' %>
                    <% end %>
                <% end %>
            </section>
        </div>

        <div class="col-md-8 col-md-offset-2">

            <%= raw @entidade.presentation %> 

            <h4>Atividade Profissional</h4>
            <%= @entidade.professionalactivity %> 

            <h4>Morada</h4>
            <%= raw @entidade.address %> 
            <%= @entidade.postal_code %>  <%= @entidade.locality %> 

            <h4>Contactos</h4>
            <%= @entidade.contacts %> 
            <br/>
            <a href="#{@entidade.page}"><%= @entidade.page %></a>

        </div>
    </div>

    <div class="row">
        <% if @entidade.offers.any? %>
            <h3>Ofertas Activas (<%= @entidade.offers.count %>)</h3>
            <ol class="ofertas">
                <%= render @offers %>
            </ol>
            <%= will_paginate @offers %>
        <% end %>
    </div>
   
    <%= link_to "Ver entidades", entidades_path %>
<% end %>