<li>
    <%= gravatar_for_candidato candidato, size: 80 %>
    <% @candidato = candidato %>
    <ul>
        <li><%= link_to @candidato.name, @candidato %></li>
    
        <li><%= @candidato.professionalarea %></li>
        <li><%= raw @candidato.professionalexperience %></li>
        <li><%= @candidato.habilitationlevel %></li>
    </ul>
    <% if !current_user.nil? %>
        <% if current_user.type %>
            <% if current_user.type.downcase=="entidade" %>
                <% if current_user.following?(@candidato) %>
                    <%= render 'candidatos/unfollow' %>
                <% else %>
                    <%= render 'candidatos/follow' %>
                <% end %>
            <% end %>
        <% elsif current_user.id==@candidato.id || current_user.admin %>
            <%= link_to "Editar", edit_candidato_path(@candidato), class: "btn btn-default" %>
        <% end %>
    <% end %>
    
</li>