<%= form_for(current_user.active_relationships.find_by(followed_id: @candidato.id),
             html: { method: :delete }, remote: true) do |f| %>
    <%= f.submit "Retirar Interesse", class: "btn btn-default" %>
<% end %>