<% provide(:title, "Candidatos") %>
<h2>Candidatos</h2>

<div class="row">
  <aside>
    <%= form_for candidatos_path, method: 'get' do %>
        <div class="col-md-3">
          <%= text_field_tag :search, params[:search], placeholder: 'Pesquisa', class: 'form-control' %>
        </div>
        <div class="col-md-3">
          <% field_array = Candidato.all.distinct.pluck(:professionalarea) %>
          <%= select_tag(:professionalarea , options_for_select(field_array,params[:professionalarea]),{include_blank: 'Área Profissional...', :onChange => "javascript: this.form.submit();", class: 'form-control'}) %>
        </div>
        <div class="col-md-3">
          <% field_array = Candidato.all.distinct.pluck(:professionalsituation) %>
          <%= select_tag(:professionalsituation , options_for_select(field_array,params[:professionalsituation]),{include_blank: 'Situação Profissional...', :onChange => "javascript: this.form.submit();", class: 'form-control'}) %>
        </div>
        <div class="col-md-3">
          <% field_array = Candidato.all.distinct.pluck(:locality) %>
          <%= select_tag(:locality, options_for_select(field_array, params[:locality]),{include_blank: 'Concelho...', :onChange => "javascript: this.form.submit();", class: 'form-control'}) %>
        </div>
    <% end %>
  </aside>
</div>

<ul class="users">
    <%= render @candidatos %>
</ul>

<%= will_paginate @candidatos %>