<% provide(:title, 'Sign up') %>
<h3>Novo Candidato</h3>

<div class="row">
    <div class="col-md-12">
        <%= form_with(model: @candidato, local: true) do |f| %>

            <div class="row">
                <div class="col-md-5">
                    <%= f.label :email %>
                    <%= f.email_field :email, class: 'form-control' %>
                </div>
            </div>

            <div class="row">
                <div class="col-md-5">
                    <%= f.label :password %>
                    <%= f.password_field :password, class: 'form-control' %>
                </div>
                
                <div class="col-md-5 col-md-offset-2">
                    <%= f.label :password_confirmation, "Confirmação da Password" %>
                    <%= f.password_field :password_confirmation, class: 'form-control' %>
                </div>
            </div>

            <div class="row">
                <div class="col-md-5">
                    <%= f.label :name, "Nome" %>
                    <%= f.text_field :name, class: 'form-control' %>
                </div>
                
                <div class="col-md-3 col-md-offset-2">
                    <%= f.label :photo, "Foto" %>
                    <%= f.file_field :photo, class: 'form-control' %>
                </div>
            </div>

            <div class="row col-md-12">
                <%= f.label :address, "Morada" %>
                <%= f.text_area :address, class: 'form-control' %>
            </div>

            <div class="row">
                <div class="col-md-2">
                    <%= f.label :postal_code, "Código Postal" %>
                    <%= f.text_field :postal_code, class: 'form-control' %>
                </div>
                
                <div class="col-md-2 col-md-offset-5">
                    <%= f.label :locality, "Localidade" %>
                    <%= f.text_field :locality, class: 'form-control' %>
                </div>
            </div>

            <%= f.label :contacts, "Contactos" %>
            <%= f.text_field :contacts, class: 'form-control' %>

            <%= f.label :page, "Página Pessoal" %>
            <%= f.text_field :page, class: 'form-control' %>

            <%= f.label :birthdate, "Data de Nascimento" %>
            <%= f.date_field :birthdate, class: 'form-control' %>

            <%= f.label :bi, "Bilhete de Identidade" %>
            <%= f.text_field :bi, class: 'form-control' %>

            <%= f.label :cv, "Curriculum Vitae" %>
            <%= f.file_field :cv, class: 'form-control' %>

            <%= f.label :professionalarea, "Área Profissional" %>
            <%= f.select :professionalarea, (["Programador web", "Designer", "Engenharia Civil"]), class: 'form-control' %>

            <%= f.label :presentation, "Apresentação" %>
            <%= f.text_area :presentation, class: 'form-control' %>

            <%= f.label :habilitationlevel, "Nível de Habilitações" %>
            <%= f.select :habilitationlevel, (["Primário", "Secundário"]), class: 'form-control' %>

            <%= f.label :literaryabilities, "Habilitações Literárias" %>
            <%= f.text_area :literaryabilities, class: 'form-control' %>

            <%= f.label :professionalsituation, "Situação Profissional" %>
            <%= f.select :professionalsituation, (["Empregado", "Desempregado"]), class: 'form-control' %>

            <%= f.label :professionalexperience, "Experiência Profissional" %>
            <%= f.text_area :professionalexperience, class: 'form-control' %>

            <%= f.submit "Registar", class: "btn btn-primary" %>
        <% end %>
    </div>
</div>