<% provide(:title, @candidato.name) %>

<% if current_user?(@candidato) %>

    <div class="row">
        <div class="col-md-6">
            <div class="user_info">
                <h3>
                Candidaturas
                </h3>
                <% if @offers_candidature.any? %>
                    <%= render @offers_candidature %>
                    <%= will_paginate @offers_candidature %>
                <% else %>
                    <p>Ainda não se candidatou a nenhuma oferta</p>
                <%end %>
            </div>
        </div>
        <div class="col-md-6">
            <div class="user_edit">
                <h3>
                <%= @candidato.name %>
                </h3>
                <%= link_to "Editar dados", edit_candidato_path(@candidato), class: 'btn btn-default' %>
                <%= link_to "Alterar password", edit_password_path(@candidato), class: 'btn btn-default' %>
                <div class="prof_img">
                    <%= gravatar_for @candidato, size: 160 %>
                </div>
            </div>
        </div>

    </div>

    <div class="row">
        <div class="col-md-6">
        <div class="entity_interest">
            <h3>Empresas interessadas em mim</h3>
            <% if  @followers.any? %>
                <%= render @followers %>
            <% else %>
                <p>Ainda não tem empresas interessadas em si.</p>
            <% end %>
        </div>
        </div>
    </div>

<% else %>

    <div class="row">
        <aside class="col-md-2">
            <section class="user_info">
                <h1><%= @candidato.name %></h1>
            </section>
        </aside>
    </div>

    <div class="row">
        <div class="col-md-2">
            <%= gravatar_for @candidato, size: 160 %>

            <section>
                <% if current_user.type %>
                    <% if logged_in? && !current_user?(@candidato) && current_user.type.downcase == 'entidade' %>
                        <% if current_user.following?(@candidato)  %>
                            <%= render 'unfollow' %>
                        <% else %>
                            <%= render 'follow' %>
                        <% end %>
                    <% end %>
                <% end %>
                <% if current_user %>
                    <% if current_user?(@candidato) || current_user.admin %>
                        <%= link_to "Editar", edit_user_path(@candidato), class: 'btn btn-default' %>
                    <% end %>
                <% end %>
            </section>

        </div>

        <div class="col-md-8">

            <%= raw @candidato.presentation %> 

            <h4>Atividade Profissional</h4>
            <%= @candidato.professionalarea %> 


            <h2>Dados Profissionais</h2>

            <h4>Situação Profissional</h4>
            <%= @candidato.professionalsituation %> 

            <h4>Nível de Habilitações</h4>
            <%= @candidato.habilitationlevel %> 

            <h4>Habilitações Literárias</h4>
            <%= raw @candidato.literaryabilities %> 

            <h4>Experiência Profissional</h4>
            <%= raw @candidato.professionalexperience %> 


            <h2>Dados Pessoais</h2>

            <h4>Morada</h4>
            <%= raw @candidato.address %> 
            <%= @candidato.postal_code %>  <%= @candidato.locality %> 

            <h4>Contactos</h4>
            <%= @candidato.contacts %> 
            <br/>
            <a href="#{@candidato.page}"><%= @candidato.page %></a>

        </div>
    </div>

    <%= link_to "Ver candidatos", candidatos_path %>

<% end %>