<header class="navbar navbar-fixed-top navbar-inverse">
    <div class="container">
        <%= link_to "Bolsa de Emprego", root_path, id: "logo" %>
        <nav>
            <ul class="nav navbar-nav navbar-right">
                <% if logged_in? %>
                    <% if admin_user?(current_user) %>
                        <li><%= link_to @current_user.name,  backoffice_url %></li>
                    <% else %>
                        <li><%= link_to "Perfil", current_user %></li>
                    <% end %>
                    <li class="divider"></li>
                    <li><%= link_to "Sair", logout_path, method: :delete %></li>
                <% else %>
                    <li><%= link_to "Registar-me", signup_path %></li>
                    <li class="divider"></li>
                    <li><%= link_to "Login", login_path %></li>
                <% end %>
            </ul>
            <ul class="nav navbar-nav navbar-left">
                <li><%= link_to "Home", root_path %></li>
                <% if admin_user?(current_user) %>
                    <li><%= link_to "Utilizadores",   backoffice_users_url %></li>
                    <li class="divider"></li>

                    <li><%= link_to "Notícias", backoffice_news_url  %></li>
                <% else %>
                    <li><%= link_to "Entidades", entidades_path %></li>
                    <li class="divider"></li>
                    <li><%= link_to "Candidatos", candidatos_path %></li>
                    <li class="divider"></li>
                    <li><%= link_to "Ofertas", offers_path %></li>
                    <li class="divider"></li>
                    <li><%= link_to "Notícias", news_path %></li>
                <% end %>
            </ul>
        </nav>
    </div>
</header>